@using BandTracker.Models;

<h1>BandTracker</h1>
<h2>Student: @Model["selectedBand"].GetName()</h2>
<hr />
@if (@Model["bandVenues"].Count != 0)
{
  <h4>This band has these venues:</h4>
  <ul>
    @foreach (Venue venue in @Model["bandVenues"])
    {
      <li>@venue.GetName()</li>
    }
  </ul>
}
<h4>Rent which venue?</h4>
<form action='/bands/@Model["selectedBand"].GetId()/venues/new' method='post'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetId()'>@venue.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
